@import '../../../assets/style/variables.scss';
.compo-box {
    width: 100%;
    min-height: 180px;
    height: 100%;
    padding: 15px 7px;
    border: 1px solid $dark-red-grey;
    p {
        font-size: 14px;
        text-align: justify;
    }
    //color: #ce3dac;
}
//
//.hover:hover {
//    background-color: $light-grey;
//}