@import "../../assets/style/variables.scss";
.main-section {
    display: flex;
    justify-content: space-between;
}

.navigation-section {
    width: 45%;
    .back-color {
        background-color: $grey-red;
        padding: 0 0 5px;
    }
    li {
        line-height: 13px;
    }
    a {
        color: $black;
        font-size: 13px;
        padding: 0 5px 5px;
    }
}

.content-section {
    p {
        font-size: 13px;
        padding: 0 10px 10px;
    }
}