.P-tab-component {
  padding       : 15px;
  border-radius : 12px;
  border        : 1px solid #8a2be2;
  margin-top    : 25px;
  max-width     : 300px;

  &.P-dark-component{
    background-color: #383A3D;
    color: white;
    border-color: white;
  }
}